*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.testimonial-container {
  width: 500px;
  min-height: 200px;
  background-color: slateblue;
  color: white;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.content {
  padding: 20px 0;
  margin-top: 40px;
}

.testimonial-container #img-avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#name {
  margin-top: 30px;
  font-size: 12px;
}
#img-avatar,
.content {
  opacity: 1;
  animation: fadeInOpacity 800ms ease-in;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
