*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c2461;
  color: white;
  height: 70px;
}

img {
  width: 150px;
  border-radius: 10px 0 0 10px;
}

li {
  margin: 20px;
  list-style: none;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.info-container p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-left: 30px;
}

.info-container button {
  background: #0c2461;
  color: #fff;
  min-width: 150px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.info-container button:hover{
  background: #2347a1;
}

