*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 1080px;
  height: 100vh;
  background: linear-gradient(90deg, rgb(108, 247, 149), rgb(95, 250, 146));
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
    background: rgba(255, 255, 255, 0.61);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.30);
}
h1{
    color: rgb(34, 114, 114);
    margin: 40px 0;
    font-size: 25px;
    text-align: center;
}

.cons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cons input{
  padding: 5px;
}

.cons input, .cons label{
  margin-bottom: 10px;
}
