*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  text-align: center;

  h3 {
    font-size: 2rem;

    margin-bottom: 3rem;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  button {
    padding: 10px 20px;
    outline: none;
    border: none;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:nth-child(1) {
      background-color: rgb(73, 189, 73);
    }
    &:nth-child(2) {
      background-color: rgb(245, 49, 49);
    }
    &:nth-child(3) {
      background-color: rgb(139, 133, 133);
    }
  }
}
