*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  max-width: 1080px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
}

main {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
h1,
p {
  text-align: center;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.input-container label {
  margin-bottom: 5px;
}
input {
  margin-bottom: 10px;
  padding: 10px;
}
button {
  padding: 10px 0px;
  cursor: pointer;
  background-color: rgb(37, 107, 37);
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  transition: background-color 200ms ease;
}
button:hover {
  background-color: rgb(54, 155, 54);
}
