*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  font-size: 7rem;
}
.container {
  width: 500px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  h1 {
    letter-spacing: 3px;
  }

  .dice-section {
    .dice-container {
      font-size: 7rem;
      margin: 5px;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }

    button {
      padding: 10px 30px;
      font-size: 20px;
      outline: none;
      border-radius: 10px;
      border: none;
      background-color: #47a5c4;
      color: white;
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    margin-top: 30px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #f2f2f2;
      margin-top: 10px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      span {
        font-size: 40px;
      }
    }
  }
}

.roll {
  animation: roll;
}

@keyframes roll {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }

  100% {
    transform: rotateY(720deg) rotateX(720deg);
  }
}
