*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 226, 226);
}
.container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  width: 500px;
}

.container .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
label {
  margin: 20px 0;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0062cc;
}
